<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faces.css') }}">


	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li class ="active"><a href="faces.html">FACES</a></li>					
					<li><a href="workflow.html">WORKFLOW</a></li>
					<li><a href="input.html">INPUT</a></li>
					<!-- <li><p>Number {{ number }}</p></li> -->
				</ul>
			</div>


	<div>
		<br>
		<div id = "image_display" class="container">
			<div class = "button_container">
				<button class = "upload" onclick="window.location.href = 'select_target';"><p class = "button_text">Choose Image</p></button>	
			</div>
			<script type="text/javascript">
				let main = document.getElementById('image_display')

					console.log({{number}})

					var count = {{number}} 
					console.log('count:' + count)
					var i
					for (i=1;i<=count;i++){
						j = i.toString()
						main.innerHTML = main.innerHTML + `<div class = "images"><img src ="/static/images/` + j + `.jpg") }}" alt = "Image here" width = "400" height = "400"></div><br>`
					}
				</script>
		</div>
	</div>
	
		
</body>
</html>













