<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li class ="active"><a href="faces.html">FACES</a></li>					
					<li><a href="workflow.html">WORKFLOW</a></li>
					<li><a href="input.html">INPUT</a></li>
				</ul>
			</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="select_target">Choose Image</a>
	<div id = "image_display">
	<script type="text/javascript">
		let main = document.getElementById('image_display')
		main.innerHTML = main.innerHTML + '<img src = "{{ url_for("static", filename = "images/1.jpeg") }}" alt "b" class ="image">'
		main.innerHTML = main.innerHTML + '<img src = "{{ url_for("static", filename = "images/2.jpeg") }}" alt "b" class ="image">'
		// let i = 0
		// for(i=0;i<5;i++){
		// 	main.innerHTML = main.innerHTML + '<img src = "{{ url_for("static", filename = "images/i.jpeg") }}" alt "b" class ="image">'	
		// }
		
	</script>
	
		
</body>
</html>













