<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='cache-control' content='no-cache'>
    	<meta http-equiv='expires' content='0'>
    	<meta http-equiv='pragma' content='no-cache'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faces.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="faces.html">FACES</a></li>					
					<li><a href="workflow.html">WORKFLOW</a></li>
					<li class ="active"><a href="input.html">INPUT</a></li>
				</ul>
			</div>
	<div>
		<div id = "image_display" class="container">
			<div class = "button_container">
				<button class = "upload" onclick="window.location.href = 'select_input';"><p class = "button_text">Choose Target Images</p></button>	
			</div>
			<script type="text/javascript">
				let main = document.getElementById('image_display')

					console.log({{number}})

					var count = {{number}} 
					console.log('count:' + count)
					var i
					for (i=1;i<=count;i++){
						j = i.toString()
						main.innerHTML = main.innerHTML + `<div class = "images"><img src ="/static/target/` + j + `.jpg") }}" alt = "Image here" width = "400" height = "400"></div><br>`
					}
				</script>
		</div>
		<div id = "video_display" class="container">
			<div class = "button_container">	
				<button class = "upload" onclick="window.location.href = 'select_input_video';"><p class = "button_text">Choose Target Video</p></button>
				<embed src="../static/target_video/output.avi"/>	
				
			</div>
			<script type="text/javascript">
				let main = document.getElementById('video_display')

					
				</script>
		</div>
	</div>

	<script type="text/javascript">
		console.log('flag:' + {{ flag }})

		var type = {{ flag }}

		if(type == 0){
			alert('No image chosen')
		}

		else if (type == -1){
			alert('Only .png, .jpg, .jpeg formats are allowed')
		}
	</script>

		
</body>
</html>













