<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faces.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="faces.html">FACES</a></li>					
					<li class ="active"><a href="workflow.html">WORKFLOW</a></li>
					<li><a href="input.html">INPUT</a></li>
				</ul>
			</div>

			<br>
			<br>
			<br>
			<br>
			<br><br>

			<br>
	<div id = "image_display" class="container">
			<div class = "button_container">
				<button class = "upload" onclick="window.location.href = 'run_workflow';"><p class = "button_text">Start Workflow</p></button>	
			</div>
		</div>
	<div id = "video_display" class="container">
			<div class = "button_container">
				<button class = "upload" onclick="window.location.href = 'run_workflow_video';"><p class = "button_text">Start Workflow for Video</p></button>	
			</div>
		</div>

</body>
</html>













