<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='cache-control' content='no-cache'>
    	<meta http-equiv='expires' content='0'>
    	<meta http-equiv='pragma' content='no-cache'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/faces.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="faces.html">FACES</a></li>					
					<li class ="active"><a href="workflow.html">WORKFLOW</a></li>
					<li><a href="input.html">INPUT</a></li>
				</ul>
			</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- <a href="select_input">Choose Image</a> -->
	<div class = "result_container">
		<button class = "textbox" onclick="window.location.href = 'select_target';"><p class = "button_text"><p>Given Source</p></button>
		<video width="500" height="500" controls>
    		<source src="static/target_video/output.mp4" type="video/mp4">
    		Your browser does not support the video tag.
  		</video>
	</div>
		

	<div>
		<br>
		<div id = "video_display" class="container">
			<script type="text/javascript">
				let main = document.getElementById('video_display')


					console.log({{number}})

					var count = {{number}} 
					console.log('count:' + count)
					var i
					if(count > 0){
						main.innerHTML += `<div class = "button_container">
						<button class = "upload" onclick="window.location.href = 'select_target';"><p class = "button_text"><p>Following images were detected</p></button>	
						</div>`
						for (i=1;i<=count;i++){
						j = i.toString()
						main.innerHTML = main.innerHTML +`
						<div class = "images">
							<img src ="/static/detected_video/` + j + `.jpg") }}" alt = "Image here" width = "400" height = "400">
						</div><br>`
						}	
					}

					else{
						main.innerHTML += 
						`<div>
							<br>
							<div id = "image_display" class="container">
								<div class = "button_container">
									<button class = "upload" onclick="window.location.href = 'select_target';"><p class = "button_text"><p>No images were detected</p></button>	
								</div>
							</div>
						</div>`
					}
					
				</script>
		</div>
	</div>
	

		
</body>
</html>













