<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
	</head>
	<body>
	<div id="nav">
				<ul>
					<li><a href="home.html">HOME</a></li>
					<li><a href="faces.html">FACES</a></li>					
					<li class ="active"><a href="workflow.html">WORKFLOW</a></li>
					<li><a href="input.html">INPUT</a></li>
				</ul>
			</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<a href="run_workflow">Start Recognition</a>
	

</body>
</html>













