*{
	margin: 0px;
	padding: 0px;
}

/*html,body{
	height: 100%;
}*/

body{
	background: url("background_image.jpg") no-repeat;
	overflow-y: scroll;
}

/*div{
	overflow: hidden;
}*/


.img0{
	background: url("abc.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;/*this has eliminated the problem of downward shifting of background which result in white patch below navbar*/
}


#nav{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 64px;
	background: #7a939c;
	transition: .2s;
}

#nav ul{
	float: left;
	margin-left: 20px;
}

#nav ul li{
	float: left;
	list-style: none;
	position: relative;
}

#nav ul li:hover{
	background: #a2c6d8;
}

#nav ul li a{
	display: block;
	color: black;
	padding: 22px 14px;
	text-decoration: none;
}

#nav ul ul li .over{
	padding: 21px 14px 22px 14px; /* this is to eliminate extended size by the html symbol &#9656 and extended size by symbol &#9662 is elimited by increasing the padding of(ul li a)*/
}

#nav ul ul{
	position: absolute;
	display: none;
	margin: -1px 0px 0px 0px;
	background: #7a939c;
	padding: 0px 0px;
}

#nav ul li:hover > ul{ /* here > size is implementing the hover on every unordered list after the (ul li) */
	display: block;
}

#nav ul ul a {
	width: 300px;
}

#nav ul ul ul{
	margin-left: 328px;
	top: 1px;
}

.upload{
	background-color: green;
	padding: 20px 50px;
	margin: 50px;
	border-radius: 30px
}

.container{
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.button_container{
	width:100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;

}

.images{
	width: initial;
    height: initial;
    margin: 10px;
    padding: 3px;
}

.button_text{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}

.overlay {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0%;
  transition: .5s ease;
}

.textbox{
	background-color: yellow;
	padding: 10px;
	margin: 10px;
	width:200px;
	height: 50px;
	border-radius: 20px;
}

.result_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}